<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <title>Message board</title>
    </head>
    <body>
        <div class="container mt-3 mb-4 px-2 py-3">
        <div class="card card-body" style="width: 18rem;">
          <p class="card-text"><%= user %>: <span><%= text %></span></p>
          <p class="card-text">Added: <span><%= date %></span></p>
           <a href="/" class="btn btn-primary">To home!</a>
        </div>
    </div>
</body>
</html>