<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Message board</title>
</head>
<body>
    <div class="container mt-3 mb-4 px-2 py-3">
        <form method="POST" action="/new" class="mb-3">
        <h3 class="form-label text-center">New message</h3>
        <div>
            <label for="user">Name</label>
            <input type="text" name="user" id="user" class="form-control" required>
        </div>
        <div>
            <label for="text">Message</label>
            <input type="text" name="text" id="text" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>